---
import '../styles/global.css';
const { title = "Paul Technologies | Protect. Detect. Respond." } = Astro.props;
---


<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Paul Technologies provides defensive cybersecurity services including vulnerability management, endpoint security, and incident response." />

    <title>{title}</title>

    <!-- Security-friendly defaults -->
    <meta name="referrer" content="no-referrer" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  </head>
  <body>
    <slot />
  </body>
</html>
